<h2>Category Form</h2>
<div mat-dialog-content>
  <form [formGroup]="categoryForm">
    <mat-form-field appearance="outline">
      <mat-label>Category title</mat-label>
      <input formControlName="title" matInput placeholder="Enter category title here">
      <mat-hint *ngIf="categoryForm.get('title')?.invalid && categoryForm.get('title')?.touched" class="text-danger">
        This field
        is required.</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Category Description</mat-label>
      <textarea formControlName="description" rows="5" matInput placeholder="Enter description here"></textarea>
      <mat-hint *ngIf="categoryForm.get('description')?.invalid && categoryForm.get('description')?.touched"
        class="text-danger">Min 6 charaters required.</mat-hint>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions [align]="'center'">
  <button mat-raised-button color="warn" mat-dialog-close>Close</button>
  <button mat-raised-button color="primary" (click)="onSubmit()">{{actionBtn}}</button>
</div>