<div class="main-container py-2">
    <div class="container text-center py-2">
        <mat-carousel [maintainAspectRatio]="true" timings="250ms ease-in" [autoplay]="true" [interval]="5000"
            color="warn" maxWidth="auto" [proportion]="40" [slides]="5" [loop]="true" [hideArrows]="false"
            [hideIndicators]="false" [useKeyboard]="true" [useMouseWheel]="false" orientation="ltr">
            <mat-carousel-slide #matCarouselSlide *ngFor="let slide of slides; let i = index" [image]="slide.image"
                overlayColor="#00000040" [hideOverlay]="false"></mat-carousel-slide>
        </mat-carousel>
        <h1>Welcome to Quizify</h1>
        <button mat-raised-button color="primary" [routerLink]="'/user-dashboard/quizzes'"
            [queryParams]="{category: 'all'}">Explore Quizzes</button>
    </div>

</div>